---
import BlankHeaderFooterContainer from '../layouts/BlankHeaderFooterContainer.astro';
import Search from '../components/Search.astro';
const allPosts = await Astro.glob('../pages/recipes/*.md');
---

<BlankHeaderFooterContainer title="Home" withSearch={false} withFilters={false}>
	<section class="py-5 my-5 px-3 mx-auto">
		<div class="row">
			<Search />
		</div>
	</section>
</BlankHeaderFooterContainer>
