---
import RecipePreviewCard from '../components/RecipePreviewCard.astro';
import BlankHeaderFooterContainer from '../layouts/BlankHeaderFooterContainer.astro';
import { getCollection } from 'astro:content';

const request = await Astro.request.url;
const url = new URL(request);
const searchParams = new URLSearchParams(url.search);
const query = searchParams.get('query');

const allPosts = await getCollection('recipes');
---

<BlankHeaderFooterContainer title="Search Results">
	<section>
		<h1>Showing results for: <br class="d-block d-sm-none" />"{query}"</h1>
	</section>
	<section class="results">
		<ul class="list-unstyled">
			{
				allPosts.map((post) => (
					<li class="d-block overflow-hidden border-1 border border-secondary overflow-hidden rounded-3 shadow my-3">
						<a
							href={`/roelke-cookbook/${post.collection}/${post.slug}`}
						>
							<RecipePreviewCard data={post.data} />
						</a>
					</li>
				))
			}
		</ul>
	</section>
</BlankHeaderFooterContainer>
